# ========================
# Python 相關
# ========================
# 編譯檔與快取
__pycache__/
*.py[cod]
*$py.class

# 虛擬環境資料夾 (絕對不應上傳)
venv/
env/
.venv/
ENV/


# Celery 排程相關
celerybeat-schedule
celerybeat.pid

# ========================
# Rust 相關
# ========================
# 編譯與建置產物
/rust/target/
**/*.rs.bk

# ========================
# 敏感資料與設定 (帳號密碼檔)
# ========================
config.py
secrets.py
.env
.env.*
config.toml
pyproject.toml

# ========================
# 憑證與私鑰
# ========================
cert/
*.pfx
*.pem
*.key

# ========================
# Log 與資料庫備份檔案
# ========================
logs/
*.log
*.sqlite3

# ========================
# 作業系統與開發編輯器
# ========================
.vscode/
.idea/
.DS_Store
Thumbs.db
